@import "text.css";

.contact-flex {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 100px;
}



#contact-textarea {
	background-color: white;
	border-color: lightgray;
	border-radius: 10px;
}

#contact-textarea::placeholder {
	color: gray;
}

.contact-email {
	background-color: inherit;
	color: white;
	margin-bottom: 15px;
	border-style: solid;
	-webkit-appearance: none;
	border: 1px solid white;
	border-radius: 3px;
	padding: 20px 60px 20px 60px;
}

.submit-button {
	background-color: #ccf7ff80;
	width: 180px;
	height: 50px;
	border: 1px solid white;
	border-radius: 5px;
}

.submit-button:hover {
	cursor: pointer;
	width: 175px;
	height: 48px;
}


.contact-email::placeholder {
   color: lightgray;
	 opacity: 0.8;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
		opacity: 0.8;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;
   opacity:  0.8;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;
   opacity:  0.8;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;
	 opacity: 0.8;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: white;
	 opacity: 0.8;
}

#words-left {
	color: white;
	margin-bottom: 30px;
  margin-top: 0px;
}
