@import "style.css";

html, body, main {
  height: 100%;
  width: 100%;
  min-width: 800px;
  background-color: #ffaeab;
  padding: 0;
  margin: 0;
}

body {
  overscroll-behavior-y: none;
}

li {
  list-style-type: none;
}

#top-banner-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
}

.banner-list-item {
  float: right;
  margin-left: 4%;
  margin-right: 4%;
  font-family: inder;

}

.banner-list-item:hover {
  transform: scale(1.15);
}

#jackscallan-label {
  float: left;
}

#test {
  position: relative;
}
#jackscallan-label:hover {
  transform: none;
}





.banner-list-item>a:hover {
  color: #595959;
  cursor: pointer;
}

#introduction-div {
  width: 100%;
  min-width: 1000px;
  height: 70%;
  background-color: black;
  background-image: url("https://lh3.googleusercontent.com/d/1DPv8yR7SkrLsyELAauYTFDsW9YlNAAAj");
  background-size: cover;
  background-position: 50% 25%;
  opacity: 0.8;
  padding: 0;
  margin: 0;
}

.introduction-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.intro-text {
  position: relative;
  color: white;
  font-size: 70px;
  font-family: biko;
  text-shadow: 1px 1px rgba(169, 169, 169, 0.5)
}

#about-div-first {
  margin-top: 2%;
}

.about-div-left {
  position: relative;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 4%;
  height: auto;
  border-radius: 12px;
  box-shadow: 5px 10px 25px #000000;
  min-width: 800px;
  min-height: 550px;
  overflow-y: scroll;
  overflow-x: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.about-div-right {
  position: relative;
  margin-top: 4%;
  background-color: white;
  width: 60%;
  margin: 0 auto;
  margin-top: 4%;
  height: auto;
  border-radius: 12px;
  box-shadow: 5px 10px 25px #000000;
  min-width: 800px;
  min-height: 550px;
  overflow-y: scroll;
  overflow-x: scroll;
}


.div-label {
  font-family: inder;
  font-size: 40px;
  padding-top: 30px;
  margin: auto;
  width: 50%;
  text-align: center;
}


#about-me-label {
  font-family: inder;
  font-size: 20px;
  padding-top: 10px;
  width: auto;
  margin-left: 2.5%;

  /* text-align: center; */
}

.projects-and-achievements {
  font-family: inder;
  font-size: 20px;
  position: relative;
  margin: auto;
}

.a-item {
  font-family: inder;
  font-size: 25px;
  padding-top: 25px;
  position: relative;
  display: inline-block;
}

.work-experience {
  font-family: inder;
  font-size: 25px;
  position: relative;

}

.a-item:hover {
  color: #666666;
}


.next-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  position: absolute;
  left: 87.5%;
  top: 90%;
  font-family: inder;
}

.next-button:hover {
  cursor: pointer;
  transform: scale(1.1);

}

.bottom-div {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: white;
  border: 1px solid gray;
  margin-top: 30px;

}



.bottom-div-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.bottom-image {
  margin-top: 1%;
  height: 75%;
}


.banner-list-item::after {
  cursor: pointer;
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  text-align: center;
  background-color: gray;
  position: relative;
  bottom: 22.5px;

  margin-left: auto;
  margin-right: auto;

  transition: ease-in-out 300ms;
}

.banner-list-item:hover::after {
  width: 80%;

}

#my-classes {
  margin-left: 4%;
}




#back-lever {
  width: 10%;
  margin-top: 50px;
  min-width: 200px;
  border: 1px solid #383838;
  border-radius: 5px;
}

#py-button {
  border: none;
  background-color: white;
  margin-top: 5%;
  color: gray;
}

#py-button:hover {
  color: black;
}
