@import "style.css";

html, body, main {
  background-color: #ffaeab;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 700px;

}

.center {
  position: relative;
  top: 40px;
  width: 50%;
  min-width: 400px;
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 10px;
  height: 400px;
  min-height: 400px;
  background-color: #dba7da;
  overflow-y: scroll;
  overflow-x: wrap;
}

.form-center-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  gap: 30px;
}

#center-form {
  width: 50%;
  margin: 0 auto;
}

.button-div {
  width: 45%;
  min-width: 500px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  height: 75px;
  background-color: #ccf7ff80;
  border: 1px solid black;
  border-radius: 10px;
}

.button-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.labels-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 120px;
}

.labels {
  width: 35%;
  height: 75px;
  margin: 0 auto;
}

#label {
  color: white;
  font-size: 20px;
  font-family: inder;
  text-shadow: #000 0px 0px 1.5px;
  -webkit-font-smoothing: antialiased;
}

#error-label {
  opacity: 0;
  font-family: inder;
  color: #BC0000;
  /* text-align: center; */
}

#error-div {
  height: auto;
  width: 100%;
  color: #ff4242;
  font-size: 20px;
  text-align: center;
}

input[type=button]:hover {
  cursor: pointer;
  padding: 8.5px 17px;
}

input[type=button] {
  background-color: #f7911b;
  color: white;
  font-family: inder;
  font-size: 15px;
  text-shadow: #000 0px 0px 1.5px;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #575757;
  padding: 8px 16px;
  border-radius: 5px;
}

input[type=text] {
  border: 1px solid black;
  background-color: white;
  font-family: inder;
}


.textbox-name {
  width: 60%;
  min-width: 150px;
  text-align: center;
}

#santa-title-div {
  width: 100%;
  margin: 0 auto;
  top: 50px;
  position: relative;
}

#santa-title-text {
  font-size: 30px;
  text-align: center;

}

.bottom-div {
  position: relative;
  width: 100%;
  height: 5rem;
  background-color: white;
  border: 1px solid gray;
  margin-top: 30px;

}

#instructions-text {
  position: relative;
  font-size: 15px;
  text-align: center;
}

#instructions-div {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
}



.bottom-div-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bottom-image {
  margin-top: 1%;
  height: 75%;
}
