@font-face {
  font-family: inder;
  src: url(fonts/Inder-Regular.ttf);
}

@font-face {
  font-family: biko;
  src: url(fonts/Biko.otf);
}

p {
  white-space: pre;
}


::-moz-selection { /* Code for Firefox */
  background: #85d0ff;
}

::selection {
  background: #85d0ff;
}
